# Service ports
ORDER_SERVICE_PORT=3001
TRACKING_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Alertmanager
ALERTMANAGER_PORT=9093
